<h1>Log In</h1>
<%= form_tag session_path do %>
  <div>
    <%= label_tag :email %><br/>
    <%= text_field_tag :email %>
  </div>
  <div>
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </div>
  <div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Log In<i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
