<h2><%= link_to image_tag(movie.image_url(:thumb).to_s), movie_path(movie) %> <%= link_to movie.title, movie_path(movie) %></h2>
<h3><%= movie.review_average %>/10</h3>
<h3><%= formatted_date(movie.release_date) %></h3>
<h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
<p><%= movie.description %></p>
<hr>