<%= form_tag(movies_path, method: "get") do %>
  <li class="input-field">
    <%= text_field_tag :query, nil, placeholder: "Search Title or Director" %>
  </li>
  <li class="input-field">
    <%= label_tag :runtime_in_minutes, "Duration:" %>
    <%= select_tag :runtime_in_minutes, options_for_select([['Under 90 minutes', 1], ['Between 90-120 minutes', 2], ['Over 120 minutes', 3]]), {include_blank: true} %>
  </li>
  <li>
  <%= submit_tag "SEARCH" %>
  </li>
<% end %>