<%= link_to "Back to all movies!" movies_path %><br/>

<h2>Submit a movie!</h2>
<%= form_for @movie do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
    <%= f.label :release_date %><br>
    <%= f.date_field :release_date %>
  <div>
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </div>
  <div>
    <%= f.label :runtime_in_minutes %><br>
    <%= f.number_field :runtime_in_minutes %>
  </div>
  <div>
    <%= f.label :poster_image_url %>
    <%= f.text_field :poster_image_url %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
