<%= link_to "Back to all movies!", movies_path %><br/>

<h1>Global Users List</h1>
<h3>(Admin access only)</h3>
<hr>

<%= link_to "Create a new user!", new_admin_user_path %><hr/>
<% if @users %>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Admin Status</th>
    </tr>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= link_to u.full_name, admin_user_path(u) %></td>
      <% if u.admin? %>
        <td>IS AN ADMIN</td>
        </tr>
      <% else %>
        <td></td>
        </tr>
      <% end %>
    <% end %>
    <%= paginate @users %>
  </table>
<% else %>
  <p>There are no users yet!</p>
<% end %>
