<!DOCTYPE html>
<html>
<head>
  <title>RottenMangosApp</title>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <%= stylesheet_link_tag "materialize.css", media: "screen, projection" %>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  
  <link rel="shortcut icon" href="http://i.imgur.com/1GXEHbl.png" type="image/x-icon">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul id='dropdown1' class='dropdown-content'>
    <%= render '/movies/search_form' %>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo waves-effect waves-light">Rotten Mangos <small><small><em>it takes two to mango</em></small></small></a><img src="http://i.imgur.com/mQyML4H.png" />
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="dropdown"><a class='dropdown-button' href='#' data-activates='dropdown1'><i class="material-icons">search</i></a>
        </li>
        <li><a href="/movies"><i class="material-icons">list</i></a></li>
        <li><a href="/movies/new"><i class="material-icons">description</i></a></li>
      </ul>
    </div>
  </nav>
    <% if flash %>    
      <div class="flash-alert">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value) %>
        <% end %>
      </div>
    <% end %>
    <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
